<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.dao.RoleDao">
    <resultMap id="userMap" type="com.joe.domian.pojo.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getRoleByUserName" parameterType="String" resultMap="userMap">
		select tr.id,tr.role_name,tr.status,tr.description,tr.create_time,tr.update_time from t_user tu
        INNER JOIN t_user_role tur on tu.id = tur.user_id
        INNER JOIN t_role tr on tr.id = tur.role_id
        INNER JOIN t_role_permission trp on tur.role_id = trp.role_id
        INNER JOIN t_permission p on p.id =trp.permission_id
        where tu.username = #{username}
	</select>

</mapper>